#curs{
    background-image: url(../../assets/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.curs-card{
    background-image: url(../../assets/yulduz.svg);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: 10% 20%;
}