footer{
    background-image: url(../../assets/gradient-yangi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    h2{
        color: #FFF;

font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
span{
    color: #00E689;

font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}}
p{
    color: #FAA40C;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
}
.lo{
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}

    
}
